<div id="navbar">
        <labe class ="home"><a href="/home">Home</a></labe>
        <label class="fish"><a href="/bluegill">Bluegill</a></label>
        <label class="fish"><a href="/catfish">Catfish</a></label>
        <label class="fish"><a href="/largemouthbass">Largemouth Bass</a></label>
        <label class="fish"><a href="/smallmouthbass">Smallmouth Bass</a></label>
        <label class="fish"><a href="/rainbowtrout">Rainbow Trout</a></label>
        <label class='feedback'><a href="/feedback">Feedback</a></label>
        <label class='chat'><a href="/chat">Chat</a></label>
        
    </div>