<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <% if (albums.length > 0) { %>
        <% for (i=0; i< albums.length; i++) { %>
            <h1><%= albums[i].title %></h1>
            <h2><%= albums[i].description %></h2>
            <h3>Price: <%= albums[i].price %></h3>
            <img src="<%= albums[i].imageURL %>" height="200px">
            <br>
        <% } %>
        <% } %>
</body>
</html>