<!DOCTYPE html>
<html>
<head>
    <% include templates/head.ejs %>
</head>
<body>
    <header>
        <% include templates/header.ejs %>
    </header>
    <!-- <%if (image.length >0) ;{%> -->
        <%for(var i=0;i < image.length; i++){ %>
            <img src='<%= image[i] %>'>
            <%} %>
            <%} %>

    
    
</body>
<% include templates/jsdefaults.ejs %>
</html>